CodeQL_evaluation_and_risk_assessment/source_code_100_node_packages/2577_node-red-contrib-caseta/examples/Caseta Examples.json
[
  {
    "id": "f7058de70ed1848a",
    "type": "tab",
    "label": "Caseta Examples",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "5677f6d9ed0a2deb",
    "type": "caseta-react",
    "z": "f7058de70ed1848a",
    "bridge": "3c71c730e6bc4fcd",
    "label": "",
    "device": "DiningRoomLightKitchen",
    "type_device": "device",
    "event": "3,4",
    "type_event": "event",
    "action": "1",
    "type_action": "action",
    "f_debug": "",
    "f_pal_status": true,
    "label_default": "Dining Room Light",
    "x": 370,
    "y": 220,
    "wires": [
      [
        "2c836927854a4fad"
      ]
    ]
  },
  {
    "id": "3e3c0e2a73ecbc36",
    "type": "caseta-control",
    "z": "f7058de70ed1848a",
    "bridge": "3c71c730e6bc4fcd",
    "label": "",
    "device": "DiningRoomLightKitchen",
    "type_device": "device",
    "action": "1",
    "type_action": "action",
    "device_class": "",
    "param_1": "100",
    "type_param_1": "msg",
    "param_2": "1",
    "type_param_2": "num",
    "hold_time": "0",
    "type_hold_time": "num",
    "f_debug": "",
    "f_pal_status": "",
    "label_default": "Dining Room Light",
    "x": 370,
    "y": 80,
    "wires": []
  },
  {
    "id": "eb6cf76ad25ce911",
    "type": "caseta-query",
    "z": "f7058de70ed1848a",
    "bridge": "3c71c730e6bc4fcd",
    "label": "",
    "device": "DiningRoomLightKitchen",
    "type_device": "device",
    "action": "1",
    "type_action": "action",
    "f_debug": "",
    "f_pal_status": "",
    "f_force_reconnect": "",
    "label_default": "Dining Room Light",
    "x": 370,
    "y": 160,
    "wires": []
  },
  {
    "id": "f0891e2dc0c7ca7a",
    "type": "inject",
    "z": "f7058de70ed1848a",
    "name": "Set to 100% fast",
    "props": [
      {
        "p": "level",
        "v": "100",
        "vt": "num"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 140,
    "y": 80,
    "wires": [
      [
        "3e3c0e2a73ecbc36"
      ]
    ]
  },
  {
    "id": "e9657faf6b7ce6f0",
    "type": "inject",
    "z": "f7058de70ed1848a",
    "name": "Get level",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 120,
    "y": 160,
    "wires": [
      [
        "eb6cf76ad25ce911"
      ]
    ]
  },
  {
    "id": "2c836927854a4fad",
    "type": "debug",
    "z": "f7058de70ed1848a",
    "name": "Monitor dimmer",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 660,
    "y": 220,
    "wires": []
  },
  {
    "id": "fdaa6167bb6bfda1",
    "type": "caseta-control",
    "z": "f7058de70ed1848a",
    "bridge": "3c71c730e6bc4fcd",
    "label": "",
    "device": "DiningRoomLightKitchen",
    "type_device": "device",
    "action": "1",
    "type_action": "action",
    "device_class": "",
    "param_1": "100",
    "type_param_1": "msg",
    "param_2": "45",
    "type_param_2": "num",
    "hold_time": "0",
    "type_hold_time": "num",
    "f_debug": "",
    "f_pal_status": "",
    "label_default": "Dining Room Light",
    "x": 370,
    "y": 120,
    "wires": []
  },
  {
    "id": "e224d924e0ec9a36",
    "type": "inject",
    "z": "f7058de70ed1848a",
    "name": "Set to 100% slowly",
    "props": [
      {
        "p": "level",
        "v": "50",
        "vt": "num"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 150,
    "y": 120,
    "wires": [
      [
        "fdaa6167bb6bfda1"
      ]
    ]
  },
  {
    "id": "971a8034ab180429",
    "type": "caseta-control",
    "z": "f7058de70ed1848a",
    "bridge": "3c71c730e6bc4fcd",
    "label": "",
    "device": "DiningroomlightingremoteKitchen",
    "type_device": "device",
    "action": "5",
    "type_action": "action",
    "device_class": "pico",
    "param_1": "100",
    "type_param_1": "num",
    "param_2": "1",
    "type_param_2": "num",
    "hold_time": "5",
    "type_hold_time": "num",
    "f_debug": "",
    "f_pal_status": "",
    "label_default": "Dining room lighting remote",
    "x": 400,
    "y": 360,
    "wires": []
  },
  {
    "id": "bdbe0a3518ddac87",
    "type": "inject",
    "z": "f7058de70ed1848a",
    "name": "Pico button hold",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 140,
    "y": 360,
    "wires": [
      [
        "971a8034ab180429"
      ]
    ]
  },
  {
    "id": "febcbcd967cf20fd",
    "type": "caseta-react",
    "z": "f7058de70ed1848a",
    "bridge": "3c71c730e6bc4fcd",
    "label": "",
    "device": "DiningroomlightingremoteKitchen",
    "type_device": "device",
    "event": "3,4",
    "type_event": "event",
    "action": "2,3,4,5,6",
    "type_action": "action",
    "f_debug": "",
    "f_pal_status": true,
    "label_default": "Dining room lighting remote",
    "x": 400,
    "y": 420,
    "wires": [
      [
        "3008db86b2c55278"
      ]
    ]
  },
  {
    "id": "3008db86b2c55278",
    "type": "debug",
    "z": "f7058de70ed1848a",
    "name": "Monitor remote",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 660,
    "y": 420,
    "wires": []
  },
  {
    "id": "095bb83362cf9d8d",
    "type": "caseta-control",
    "z": "f7058de70ed1848a",
    "bridge": "3c71c730e6bc4fcd",
    "label": "",
    "device": "SmartBridge",
    "type_device": "device",
    "action": "1",
    "type_action": "action",
    "device_class": "smartbridge",
    "param_1": "100",
    "type_param_1": "num",
    "param_2": "1",
    "type_param_2": "num",
    "hold_time": "0",
    "type_hold_time": "num",
    "f_debug": "",
    "f_pal_status": "",
    "label_default": "Scene",
    "x": 330,
    "y": 580,
    "wires": []
  },
  {
    "id": "fda1156464442161",
    "type": "inject",
    "z": "f7058de70ed1848a",
    "name": "Set scene",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 120,
    "y": 580,
    "wires": [
      [
        "095bb83362cf9d8d"
      ]
    ]
  },
  {
    "id": "2bed2bedc5130309",
    "type": "caseta-react",
    "z": "f7058de70ed1848a",
    "bridge": "3c71c730e6bc4fcd",
    "label": "",
    "device": "SmartBridge",
    "type_device": "device",
    "event": "4",
    "type_event": "event",
    "action": "1,2",
    "type_action": "action",
    "f_debug": "",
    "f_pal_status": true,
    "label_default": "Scene",
    "x": 330,
    "y": 640,
    "wires": [
      [
        "6822a7a86554176e"
      ]
    ]
  },
  {
    "id": "6822a7a86554176e",
    "type": "debug",
    "z": "f7058de70ed1848a",
    "name": "Monitor scenes",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 660,
    "y": 640,
    "wires": []
  },
  {
    "id": "3d136c9cad998c24",
    "type": "catch",
    "z": "f7058de70ed1848a",
    "name": "Catch all",
    "scope": null,
    "uncaught": false,
    "x": 900,
    "y": 80,
    "wires": [
      [
        "7d025c25abe657f5"
      ]
    ]
  },
  {
    "id": "7d025c25abe657f5",
    "type": "debug",
    "z": "f7058de70ed1848a",
    "name": "Monitor errors",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1120,
    "y": 80,
    "wires": []
  },
  {
    "id": "3c71c730e6bc4fcd",
    "type": "caseta-bridge",
    "name": "My Smart Hub Pro",
    "bridge_ip_address": "192.168.10.10",
    "device_list": {
      "AudioRemoteKitchen": {
        "sid": "2",
        "name": "Audio Remote",
        "label": "Audio Remote",
        "hash": "AudioRemoteKitchen",
        "area": "Kitchen",
        "type": "pico_five_button_audio"
      },
      "DiningRoomLightKitchen": {
        "sid": "5",
        "name": "Dining Room Light",
        "label": "Dining Room Light",
        "hash": "DiningRoomLightKitchen",
        "area": "Kitchen",
        "type": "dimmer_four_button"
      },
      "DiningroomlightingremoteKitchen": {
        "sid": "3",
        "name": "Dining room lighting remote",
        "label": "Dining room lighting remote",
        "hash": "DiningroomlightingremoteKitchen",
        "area": "Kitchen",
        "type": "pico_five_button_light"
      },
      "LightsHallway": {
        "sid": "6",
        "name": "Lights",
        "label": "Lights",
        "hash": "LightsHallway",
        "area": "Hallway",
        "type": "dimmer_four_button"
      },
      "MainLightsKitchen": {
        "sid": "4",
        "name": "Main Lights",
        "label": "Main Lights",
        "hash": "MainLightsKitchen",
        "area": "Kitchen",
        "type": "dimmer_four_button"
      },
      "SmartBridge": {
        "sid": "1",
        "name": "SmartBridge",
        "label": "Scene",
        "hash": "SmartBridge",
        "type": "smartbridge"
      }
    },
    "scene_list": {
      "ArrivingHome": {
        "sid": "1",
        "name": "Arriving Home",
        "label": "Arriving Home",
        "hash": "ArrivingHome"
      },
      "LeavingHome": {
        "sid": "2",
        "name": "Leaving Home",
        "label": "Leaving Home",
        "hash": "LeavingHome"
      }
    },
    "int_report": "{   \"LIPIdList\" : {     \"Devices\" : [       {         \"ID\" : 1,         \"Name\" : \"Smart Bridge\",         \"Buttons\" : [           {             \"Name\" : \"Arriving Home\",             \"Number\" : 1           },           {             \"Name\" : \"Leaving Home\",             \"Number\" : 2           },           {             \"Name\" : \"Button 4\",             \"Number\" : 4           },           {             \"Name\" : \"Button 5\",             \"Number\" : 5           },           {             \"Name\" : \"Button 6\",             \"Number\" : 6           },           {             \"Name\" : \"Button 7\",             \"Number\" : 7           },           {             \"Name\" : \"Button 8\",             \"Number\" : 8           },           {             \"Name\" : \"Button 9\",             \"Number\" : 9           },           {             \"Name\" : \"Button 10\",             \"Number\" : 10           },           {             \"Name\" : \"Button 11\",             \"Number\" : 11           },           {             \"Name\" : \"Button 12\",             \"Number\" : 12           },           {             \"Name\" : \"Button 13\",             \"Number\" : 13           },           {             \"Name\" : \"Button 14\",             \"Number\" : 14           },           {             \"Name\" : \"Button 15\",             \"Number\" : 15           },           {             \"Name\" : \"Button 16\",             \"Number\" : 16           },           {             \"Name\" : \"Button 17\",             \"Number\" : 17           },           {             \"Name\" : \"Button 18\",             \"Number\" : 18           },           {             \"Name\" : \"Button 19\",             \"Number\" : 19           },           {             \"Name\" : \"Button 20\",             \"Number\" : 20           },           {             \"Name\" : \"Button 21\",             \"Number\" : 21           },           {             \"Name\" : \"Button 22\",             \"Number\" : 22           },           {             \"Name\" : \"Button 23\",             \"Number\" : 23           },           {             \"Name\" : \"Button 24\",             \"Number\" : 24           },           {             \"Name\" : \"Button 25\",             \"Number\" : 25           },           {             \"Name\" : \"Button 26\",             \"Number\" : 26           },           {             \"Name\" : \"Button 27\",             \"Number\" : 27           },           {             \"Name\" : \"Button 28\",             \"Number\" : 28           },           {             \"Name\" : \"Button 29\",             \"Number\" : 29           },           {             \"Name\" : \"Button 30\",             \"Number\" : 30           },           {             \"Name\" : \"Button 31\",             \"Number\" : 31           },           {             \"Name\" : \"Button 32\",             \"Number\" : 32           },           {             \"Name\" : \"Button 33\",             \"Number\" : 33           },           {             \"Name\" : \"Button 34\",             \"Number\" : 34           },           {             \"Name\" : \"Button 35\",             \"Number\" : 35           },           {             \"Name\" : \"Button 36\",             \"Number\" : 36           },           {             \"Name\" : \"Button 37\",             \"Number\" : 37           },           {             \"Name\" : \"Button 38\",             \"Number\" : 38           },           {             \"Name\" : \"Button 39\",             \"Number\" : 39           },           {             \"Name\" : \"Button 40\",             \"Number\" : 40           },           {             \"Name\" : \"Button 41\",             \"Number\" : 41           },           {             \"Name\" : \"Button 42\",             \"Number\" : 42           },           {             \"Name\" : \"Button 43\",             \"Number\" : 43           },           {             \"Name\" : \"Button 44\",             \"Number\" : 44           },           {             \"Name\" : \"Button 45\",             \"Number\" : 45           },           {             \"Name\" : \"Button 46\",             \"Number\" : 46           },           {             \"Name\" : \"Button 47\",             \"Number\" : 47           },           {             \"Name\" : \"Button 48\",             \"Number\" : 48           },           {             \"Name\" : \"Button 49\",             \"Number\" : 49           },           {             \"Name\" : \"Button 50\",             \"Number\" : 50           },           {             \"Name\" : \"Button 51\",             \"Number\" : 51           },           {             \"Name\" : \"Button 52\",             \"Number\" : 52           },           {             \"Name\" : \"Button 53\",             \"Number\" : 53           },           {             \"Name\" : \"Button 54\",             \"Number\" : 54           },           {             \"Name\" : \"Button 55\",             \"Number\" : 55           },           {             \"Name\" : \"Button 56\",             \"Number\" : 56           },           {             \"Name\" : \"Button 57\",             \"Number\" : 57           },           {             \"Name\" : \"Button 58\",             \"Number\" : 58           },           {             \"Name\" : \"Button 59\",             \"Number\" : 59           },           {             \"Name\" : \"Button 60\",             \"Number\" : 60           },           {             \"Name\" : \"Button 61\",             \"Number\" : 61           },           {             \"Name\" : \"Button 62\",             \"Number\" : 62           },           {             \"Name\" : \"Button 63\",             \"Number\" : 63           },           {             \"Name\" : \"Button 64\",             \"Number\" : 64           },           {             \"Name\" : \"Button 65\",             \"Number\" : 65           },           {             \"Name\" : \"Button 66\",             \"Number\" : 66           },           {             \"Name\" : \"Button 67\",             \"Number\" : 67           },           {             \"Name\" : \"Button 68\",             \"Number\" : 68           },           {             \"Name\" : \"Button 69\",             \"Number\" : 69           },           {             \"Name\" : \"Button 70\",             \"Number\" : 70           },           {             \"Name\" : \"Button 71\",             \"Number\" : 71           },           {             \"Name\" : \"Button 72\",             \"Number\" : 72           },           {             \"Name\" : \"Button 73\",             \"Number\" : 73           },           {             \"Name\" : \"Button 74\",             \"Number\" : 74           },           {             \"Name\" : \"Button 75\",             \"Number\" : 75           },           {             \"Name\" : \"Button 76\",             \"Number\" : 76           },           {             \"Name\" : \"Button 77\",             \"Number\" : 77           },           {             \"Name\" : \"Button 78\",             \"Number\" : 78           },           {             \"Name\" : \"Button 79\",             \"Number\" : 79           },           {             \"Name\" : \"Button 80\",             \"Number\" : 80           },           {             \"Name\" : \"Button 81\",             \"Number\" : 81           },           {             \"Name\" : \"Button 82\",             \"Number\" : 82           },           {             \"Name\" : \"Button 83\",             \"Number\" : 83           },           {             \"Name\" : \"Button 84\",             \"Number\" : 84           },           {             \"Name\" : \"Button 85\",             \"Number\" : 85           },           {             \"Name\" : \"Button 86\",             \"Number\" : 86           },           {             \"Name\" : \"Button 87\",             \"Number\" : 87           },           {             \"Name\" : \"Button 88\",             \"Number\" : 88           },           {             \"Name\" : \"Button 89\",             \"Number\" : 89           },           {             \"Name\" : \"Button 90\",             \"Number\" : 90           },           {             \"Name\" : \"Button 91\",             \"Number\" : 91           },           {             \"Name\" : \"Button 92\",             \"Number\" : 92           },           {             \"Name\" : \"Button 93\",             \"Number\" : 93           },           {             \"Name\" : \"Button 94\",             \"Number\" : 94           },           {             \"Name\" : \"Button 95\",             \"Number\" : 95           },           {             \"Name\" : \"Button 96\",             \"Number\" : 96           },           {             \"Name\" : \"Button 97\",             \"Number\" : 97           },           {             \"Name\" : \"Button 98\",             \"Number\" : 98           },           {             \"Name\" : \"Button 99\",             \"Number\" : 99           },           {             \"Name\" : \"Button 100\",             \"Number\" : 100           }         ]       },       {         \"ID\" : 3,         \"Area\" : {           \"Name\" : \"Kitchen\"         },         \"Name\" : \"Dining room lighting remote\",         \"Buttons\" : [           {             \"Number\" : 2           },           {             \"Number\" : 3           },           {             \"Number\" : 4           },           {             \"Number\" : 5           },           {             \"Number\" : 6           }         ]       },              {         \"ID\" : 2,         \"Area\" : {           \"Name\" : \"Kitchen\"         },         \"Name\" : \"Audio Remote\",         \"Buttons\" : [           {             \"Number\" : 2           },           {             \"Number\" : 3           },           {             \"Number\" : 4           },           {             \"Number\" : 5           },           {             \"Number\" : 6           }         ]       }          ],     \"Zones\" : [       {         \"ID\" : 4,         \"Name\" : \"Main Lights\",         \"Area\" : {           \"Name\" : \"Kitchen\"         }       },       {         \"ID\" : 5,         \"Name\" : \"Dining Room Light\",         \"Area\" : {           \"Name\" : \"Kitchen\"         }       },       {         \"ID\" : 6,         \"Name\" : \"Lights\",         \"Area\" : {           \"Name\" : \"Hallway\"         }       }     ]   } }",
    "f_append_id": false,
    "f_debug": false,
    "f_dont_connect": false
  }
]